.main {
	display:grid;
	height: 100vh;
	grid-template-columns: 20% 25% 25%;
	grid-template-rows: 60% 25% 25%;
	grid-gap: 15px;
}

.header {
	border: 2px solid rgba(177, 195, 197, .97);
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.header img {
	display: flex;
	flex-direction: column-reverse;
	justify-content: flex-end;
	align-self: stretch;
	height: 100%
}

.stylebox {
	border: 2px solid rgba(177, 195, 197, .95);
	border-radius: 5px;
	height: 20%;
	width: 50%;
}


.content_1, .content_2, .content_3 {
	border: 1px solid black;
	border-radius: 5px;
	height:7%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.about_me {
	border-radius: 5px;
	grid-column: 1 / -1;
	display: flex;
	flex-direction: column;
} 

.about_me h3 {
	margin-left: 3%;
}

.about_me p {
	margin-left: 8%;

}

#github {
	padding-left: 40%;
}
#linkedin {
	padding-left: 25px;
}

.footer {
	display:flex;
	justify-content: center;
}
