.about {
	display: grid;
	grid-template-columns: 1fr 1fr;
	display:flex;
	flex-direction: row;
	justify-content: center;
}

.project_pics {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 1fr 1fr 1fr;
	grid-gap: 5em;
	border-top-right-radius: 5px;
	display: flex;
	flex-direction: row; 
	justify-content: center;
}
